<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieCollection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    @RenderBody()

    <br />
    <br />
    <footer>This Worked, Copyright 2021</footer>
</body>
</html>
