<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageName"] - MovieCollection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link"><button class="btn btn-primary">Home</button></a></div>
        <div class="nav-item"><a asp-controller="Home" asp-action="FilmCollection" class="nav-link"><button class="btn btn-primary">View Collection</button></a></div>
        <div class="nav-item"><a asp-controller="Home" asp-action="AddFilm" class="nav-link"><button class="btn btn-primary">Add a Film</button></a></div>
        <div class="nav-item"><a asp-controller="Home" asp-action="Podcasts" class="nav-link"><button class="btn btn-primary">My Podcast</button></a></div>
    </nav>

    @RenderBody()

    <br />
    <br />
    <footer class="footer text-center">This Worked, Copyright 2021</footer>
</body>
</html>
