@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add A Movie To The Collection";
}

@model MovieCollection.Models.Film;

<form>
    @Html.LabelFor(f => f.Rating)
    @Html.DropDownListFor(m => m.Rating, Html.GetEnumSelectList(typeof(RatingTypes)))
</form>