@{
    ViewData["PageName"] = "The Joel Hilton Film Collection";
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my film collection.</h1>
    <p>All movies are curated by me, Joel Hilton.</p>
    <img src="~/img/JoelHilton.jpg" />
</div>
