@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the movie collection of Joel Hilton.</h1>
    <p>All movies are curated by me, Joel Hilton.</p>
    <img src="~/img/JoelHilton.jpg" />
    <a asp-controller="Home" asp-action="Podcasts">Take me to podcasts</a>
    <a asp-controller="Home" asp-action="AddFilm">Add a film!</a>
</div>
